/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */

body {
    background-color: white;
    font-size: 13pt;
    font-family: Roboto;
    line-height: 1.45;
    }

    .test {
        margin: 0 auto;
        width: 1200px;
        max-width: 100%;
    }

/* Header */

header {
    position: sticky;
    top: 0px;
    background-image: linear-gradient(rgb(167, 163, 163), white);
    width: 100%; 
    height: 80px; 
    border-bottom: 1px solid #ccc;
    
}

    
nav ul {
    list-style-type: none;
    width: 768px;
	padding: 0;
    margin-left: 182px;
    margin-top: 0px;
    overflow: hidden;
    display: inline-block;
}
nav li {
    float: left;
}

nav li a {
	border-right: 1px solid #ccc;
    box-sizing:border-box;
    display: inline-block;
    text-align: center;
    font-size: 9pt;
    vertical-align: top;
    padding: 31px 20px;
    text-decoration: none;
}

nav li a:first-child {
    border-left: 1px solid #ccc;
}

nav a:link, nav a:visited
{color: rgb(83, 81, 81);
    }

nav a:hover, nav a:active {
    background-image:linear-gradient(rgb(121, 120, 120), white);
    border-bottom: 1px solid #ccc;
    color: black;
}
nav a#pull {
	display: none;
}

logo 

div.container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 10;
    width: 180px;
    height: 79px;
  }
  #clip {
    position: absolute;
    clip: rect(0, 160px, 80px, 0);
    /* clip: shape(top, right, bottom, left)*/
   }

   #clip:hover{
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
}


/* Textbox*/

h1 {
    margin-left: 1.5em;
    
}

.textbox {
    border: 1px solid rgb(201, 201, 201);
    border-top: 1px solid darkgreen;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
    box-shadow: 0px 2px rgb(230, 216, 216);
    width: 93%;
    column-count: 3;
    column-width: 31%;
}


@media only screen and (max-width: 767px) {

	
}

@media only screen and (min-width: 768px ) {
	
}

@media only screen and (min-width: 1200px ) {
	
}




/* Fußleiste */

* {
    box-sizing: border-box;
  }


    footer {
    left: 4em;
    bottom: 0;
    width: 93%;
    position: relative;
    border-top: 1px solid rgb(201, 201, 201);
    background-color:white ;
    color: black ;
    font-size: 9pt;
    }
  
    .box {
    float: left;
    width: 50%;
    padding: 10px;
    }

    .box2 {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: right;
        }
  




