/* CSS Document */

header {
    position: sticky;
    top: 0px;
    background-image: linear-gradient(rgb(167, 163, 163), white);
    width: 99%; 
    height: 80px; 
    border-bottom: 1px solid rgb(201, 201, 201);
}

nav {
position: relative;
left: 90px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    }

li.navli {
    float: left;
    border-right: 1px solid rgb(201, 201, 201);
    }

li.navli a {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 31px 20px;
    text-decoration: none;
    }

li.navli:first-child {
    border-left: 1px solid #ccc;
}

li.navli a:hover {
   background-image:linear-gradient(rgb(121, 120, 120), white);
}

/* logo */

div.container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 10;
    width: 180px;
    height: 79px;
  }
  #clip {
    position: absolute;
    clip: rect(0, 160px, 80px, 0);
    /* clip: shape(top, right, bottom, left) */
   }

   #clip:hover{
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
}
   
 

